body {
    font-family: 'Montserrat', sans-serif;
}
#title {
    background-color: #ff4d68;
}
#cta{
    background-color: #ff4d68;
    padding: 3% 15% 4%;
    text-align: center;
}
#footer {
    padding: 5% 15%;
    text-align:center;
}
.ctatitle{
    font-size: 3rem; 
    line-height: 1.5;
    color: white;
    
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
.container-fluid{
    padding: 3% 15% 7%;
}
.iphoneimg {
    transform: rotate(15deg);
    position: absolute;
    right: 30%;
}

/*Navigation bar*/
.navbar {
    padding: 0 0 4.5rem;

}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Monserrat', sans-serif;
    font-weight: 100;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
/*download buttons*/

.download-button{
    margin: 5% 3% 5% 0;
}
.fa-brands{
    margin-right: 5px;
}
.fa-solid{
    color: #ef8172;
    padding-bottom: 1.5rem; 
}
.fa-envelope{
    color: black;
}
.fa-solid:hover{
    color: #ff4c68; 
}
.fafoot{
    padding: 1%
}
.cols{
    text-align: center;
    padding: 5%;
}
#features{
    padding: 7% 15%;
    background: white;
    position: relative;
    z-index: 1;
}
.parag{
    color: #8f8f8f;
}

/*testimonials*/

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color:  #ef8172;
    color: white;
}
.dogtest{
    width:10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color:  #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.presslogo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}
.card-title{
    color: black;
    font-family: 'Monserrat', sans-serif;
}
#pricing{
    padding: 100px;
    text-align:center;
}
.col-lg-4{
    padding: 3% 2%;
}
 @media (max-width: 1028px) {
    .iphoneimg {
        position: static;
        transform: rotate(0);
    }
    #title {
        text-align: center;
    }
 }